* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
}

.heading {
    border: 2px solid black;
    text-align: center;
    background-color: #ccb033;
    padding: 10px;
}
.student{
    text-align: center;
}
form {
    width: 75%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #333;
    background-color: white;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    border: 1px solid #555;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
    margin-left: 10px;
}
